*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.animacao{
	background: url("../animacao/animacao-keyframe2.png") -0px -0px;
	width: 43px;
	height: 60px;
	animation: animacao-planta 2s steps(12) infinite;
}

@keyframes animacao-planta{
	100% {
		background-position-x: -516px; 
	}
}
